<script type="module" src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/typewriter.js"></script>
<script src="{{ base_path }}/assets/js/scroll-reveal.js"></script>
<script src="{{ base_path }}/assets/js/navbar-scroll.js"></script>
<script src="{{ base_path }}/assets/js/back-to-top.js"></script>
<script src="{{ base_path }}/assets/js/counter.js"></script>
<script src="{{ base_path }}/assets/js/skill-bar.js"></script>
<script src="{{ base_path }}/assets/js/particles-bg.js"></script>

{% include analytics.html %}
